* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px 'Lato', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/* Брейк - поинты */
/* <1250px и выше - Ноутбуки и Компьютеры */
/* >1250px до 1025px - маленькие ноутбуки */
/* >1024px до 768px- планшеты */
/* >767px - мобильные устройства */
/* 320px - Iphone 5se */

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 1150px) {
    .container {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    min-width: 160px;
    padding: 0 10px;
    height: 50px;
    border-radius: 6px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

@media (max-width: 767px) {
    .btn {
        height: 40px;
        line-height: 40px;
    }
}

.btn.btn-white {
    background-color: #fff;
    color: #ED4C5C;
}

.btn.btn-white.bgc {
    color: #fff;
    min-width: 135px;
    /* padding: 0 35px; */
    font-size: 14px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .btn.btn-white.bgc {
        min-width: 50px;
        font-size: 10px;
        height: 25px;
        line-height: 25px;
    }
}

.btn.btn-red {
    text-align: center;
    background-color: #ED4C5C;
    color: white;
    margin: 54px auto 30px;
}

.btn.btn-red.two {
    margin-top: 27px;
}

.btn:hover {
    transform: translate(2px, 2px);
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
}